/Makefile
/*.tag
/*.pro.user
/*.md~
/*.txt~
/.tmp/
/win2008de.xml
/win7_pro_64.xml
/*.log
/.qmake.cache
/xmlparser
/ubuntu32_print.xml
*.qmake.stash
/ubuntu32_dump.txt
/ubuntu32_keys.txt
/ubuntu32_out.xml
/ef
/pretty_print.xml
